button, input[type="button"], input[type="submit"]{
    margin-top: 20px;
    margin-bottom: 10px;
    width: 30%;
    min-width: 70px;
    height: 40px;
    color: aliceblue;
    border: none;
    background-color: #2935f5;
}

button:hover, input[type="button"]:hover, input[type="submit"]:hover{

    background-color: #3a45ff;
}

button#create-event{
    width: 50px;
    height: 70px;
    position: absolute;
    bottom: 40px;
    margin: 0px;
    border-radius: 50%;
    right: 20px;
}
