@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('./reset.css');
@import url('./buttons.css');
@import url('./anchors.css');
@import url('./inputs.css');

:root{
    --small: 5px;
    --body-bg: azure;
}
.dark-theme{
    --body-bg: linear-gradient(45deg, rgb(25,25,25), rgb(40,40,40));
}
body{
    margin: 0;
}

header{
    width: 100%;
    position: static;
    top: 0;
    background: #202929;
}

nav{
    padding: 20px 30px 10px 30px;
    min-height: 70px;
}

main{
    min-height: 60vh;
    width: 100%;
}

footer{
    text-align: center;
    width: 100%;
    color: #bbb;
    background: #1911a1;
    position: absolute;
    bottom: 0;
}

#log-in{
    background-color: #40943d;
    padding: 10px;
    border-radius: var(--small);
}

#log-in:hover{
    background-color: #f0943f;
}

#wrapper{
    min-height: 100vh;
    background: var(--body-bg);
}

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.flex-center{
    align-items: center;
    justify-content: center;
}

.flex-space-bet{
    align-items: center;
    justify-content: space-between;
}

.form-container > *{
    margin: 6px 0 4px 0;
}
.form-container{
    padding: 5px;
    color: aliceblue;
    max-width: 60%;
    min-width: 250px;
    min-height: 220px;
    margin: auto;
    background: rgba(88, 23, 202, 0.621);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba(16, 16, 165, 0.731);
}

.pl-30{
    padding-left: 30px;
    padding-right: 30px;
}

.rigth{
    width: fit-content;
}

.options{
    display: flex;
    align-items: center;
    gap: 10px;
}
.theme{
    cursor: pointer;
    color: var(--body-bg)
}

.hidden{
    display: none;
}