@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    font-family: Roboto, Arial, sans-serif;
    font-size: large;
}


:root{
    --small: 5px
}
body{
    margin: 0
}

main{
    width: 100%
}
#wrapper{
    min-height: 100vh;
    background: linear-gradient(45deg, rgb(25,25,25), rgb(40,40,40));
}

input{
    
    border-radius: var(--small);
}
input[type="text"], input[type="password"]{
    width: 70%;
}

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.flex-center{
    align-items: center;
    justify-content: center;
}

.form-container > *{
    margin: 2px 0 2px 0;
}
.form-container{
    color: aliceblue;
    max-width: 60%;
    min-width: 250px;
    min-height: 220px;
    margin: auto;
    background: rgba( 81, 44, 145, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

